<footer id="footer" class="footer bg-gray-800 text-white">
    <div class="footer-inner">
        <div class="footer-center container mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="footer-first col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 footer-column px-4 mb-4">
                    <h2 class="block-title mb-4"><span>Contact info</span></h2>
                    <div class="content block-content">
                        <div class="contact-info">
                            <p class="description">State Department for Labour and Skill Development.</p>
                            <ul class="contact-info">
                                <li><i class="fa fa-home"></i> Bishops Road, Social Security House<br>P.O. Box 40326 – 00100, Nairobi</li>
                                <li><i class="fa fa-mobile"></i> Tel: +254 (020) 2729801/804-819</li>
                                <li><a [href]="'mailto:ps@labour.go.ke'"><i class="far fa-envelope"></i> ps&amp;labour.go.ke</a></li>
                                <li><a [href]="'mailto:info@labour.go.ke'"><i class="far fa-envelope"></i> info&amp;labour.go.ke</a></li>
                                <li><a [href]="'mailto:complaints@labour.go.ke'"><i class="far fa-envelope"></i> complaints&amp;labour.go.ke</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright bg-gray-900 py-4">
        <div class="container mx-auto">
            <div class="copyright-inner flex justify-between">
                <div class="text-white">
                    © Copyright © 2024 | Ministry of Labour & Social Protection | Kenya. All Rights Reserved.
                </div>
                <div class="social-copyright">
                    <div class="socials">
                        <a target="_blank" href="https://www.facebook.com/people/Ministry-of-Labour-and-Social-Protection/100068143816698/"><i class="fab fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/labourspke?lang=en"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCp_LKP_ig4XlCgKWPnZM4SA"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
