<div class="flex items-center justify-center min-h-screen bg-white-100 pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Background overlay, show/hide based on modal state. Entering: "ease-out duration-300" Leaving: "ease-in duration-200" -->
    <div class="container mx-auto p-6 bg-gray rounded-lg shadow-xl inset-0 bg-opacity-75 transition-opacity">
        <div class="container mx-auto p-6 inline-block align-bottom bg-gray-100 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <h2 class="text-xl font-bold mb-4">
                FORM EMPLOYMENT AGENCIES CAREER GUIDANCE REPORTING
            </h2>
            <p class="text-sm text-gray-700 mb-4">
                The Office of Career Services is the department/unit that coordinates career guidance programmes in employment agencies. The role of the Career Guidance Contact Person (CGCP) in the Office of Career Services (OCS) is to monitor and report on the progress
                made in regard to the establishment and operationalization of the Office of Career Services. To enable the CGCP of the OCS to report on this progress, the State Department for Labour and Skills Development has automated the reporting form
                (see below). Please use this form to fill in the quarterly and annual progress reports for your agency.
            </p>
            <hr />
            <form [formGroup]="cgcpData" (ngSubmit)="onFormSubmit()">
                <!-- First Section -->
                <fieldset>
                    <div class="mb-4">
                        <label for="employmentAgency" class="block text-gray-700 text-sm font-bold mb-2">Name of the Employment Agency</label>
                        <input type="text" id="employmentAgency" name="employmentAgency" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="employmentAgency" required />
                    </div>
                    <div class="mb-4">
                        <label for="subCounty" class="block text-gray-700 text-sm font-bold mb-2">Sub - County the employment agency is situated</label
>
                        <input type="text" name="subCounty" formControlName="subCounty" id="subCounty" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="contactPersonEmail" class="block text-gray-700 text-sm font-bold mb-2">The employment agency contact person email</label
>
                        <input type="email" formControlName="contactPersonEmail" name="contactPersonEmail" id="contactPersonEmail" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="contactPersonPhone" class="block text-gray-700 text-sm font-bold mb-2">The employment agency contact person phone number</label
>
                        <input type="tel" name="contactPersonPhone" formControlName="contactPersonPhone" id="contactPersonPhone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                </fieldset>
                <br>
                <!-- Section 2: -->
                <fieldset>
                    <legend class="text-xl font-bold mb-4">EMPLOYMENT AGENCIES</legend>
                    <p class="text-sm text-gray-700 mb-4">Both Public and Private</p>
                    <hr />
                    <legend class="text-xl font-bold mb-4">
                        Choose the Employment Agency Type
                    </legend>
                    <div class="flex">
                        <div class="flex items-center me-4">
                            <input id="publicType" formControlName="agencyType" type="radio" value="public" name="agencyType" class="w-4 h-4 text-blue-600 bg-black-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                            <label for="publicType" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">Public</label>
                        </div>
                        <div class="flex items-center me-4">
                            <input id="privateType" type="radio" formControlName="agencyType" value="private" name="agencyType" class="w-4 h-4 text-blue-600 bg-black-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                            <label for="privateType" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">Private</label>
                        </div>

                    </div>
                    <br />
                    <div class="mb-4">
                        <label for="careerGuidanceNumber" class="block text-gray-700 text-sm font-bold mb-2">Total No. of career guidance trainers</label
>
                        <input type="number" id="careerGuidanceNumber" name="careerGuidanceNumber" formControlName="careerGuidanceNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required
                        />
                    </div>
                    <div class="mb-4">
                        <label for="careerCounsellorsNumber" class="block text-gray-700 text-sm font-bold mb-2">Total No. of career counsellors</label>
                        <input type="number" name="careerCounsellorsNumber" formControlName="careerCounsellorsNumber" id="careerCounsellorsNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required />
                    </div>
                    <div class="mb-4">
                        <label for="careerInformationSpecialists" class="block text-gray-700 text-sm font-bold mb-2">Total No. of career information specialists</label
>
                        <input type="number" name="careerInformationSpecialists" formControlName="careerInformationSpecialists" id="careerInformationSpecialists" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required />
                    </div>
                    <div class="overflow-x-auto">
                        <h3 class="block text-gray-700 text-sm font-bold mb-2">
                            Office of Career Services (OCs) established?
                        </h3>
                        <div class="flex m-4">
                            <div class="flex items-center me-4">
                                <input id="ocsYes" formControlName="ocs" type="radio" value="ocs" name="ocs" class="w-4 h-4 text-blue-600 bg-black-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                                <label for="ocsYes" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">Yes</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input id="ocsNo" type="radio" formControlName="ocs" value="ocs" name="ocs" class="w-4 h-4 text-blue-600 bg-black-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                                <label for="ocsYes" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="noCareerGuidanceAccess" class="block text-gray-700 text-sm font-bold mb-2">No. of persons that accessed career guidance training</label
>
                        <input type="number" formControlName="noCareerGuidanceAccess" id="noCareerGuidanceAccess" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="noCareerCounsellingAccess" class="block text-gray-700 text-sm font-bold mb-2">No. of persons that accessed career counselling services</label
>
                        <input type="number" name="noCareerCounsellingAccess" formControlName="noCareerCounsellingAccess" id="noCareerCounsellingAccess" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required />
                    </div>
                    <div class="mb-4">
                        <label for="noCareerGuidanceInformation" class="block text-gray-700 text-sm font-bold mb-2">No. of persons that accessed career guidance information</label
>
                        <input type="number" formControlName="noCareerGuidanceInformation" name="noCareerGuidanceInformation" id="noCareerGuidanceInformation" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required />
                    </div>
                    <div class="mb-4">
                        <label for="noStaffTrainedCareerGuidance" class="block text-gray-700 text-sm font-bold mb-2">No. of staff trained on career guidance</label
>
                        <input type="number" formControlName="noStaffTrainedCareerGuidance" id="noStaffTrainedCareerGuidance" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="malePersonNo" class="block text-gray-700 text-sm font-bold mb-2">Total No. of male persons</label
>
                        <p class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic">
                            (How many male learners that accessed different services on career guidance in your agency)
                        </p>
                        <br />
                        <input type="number" formControlName="malePersonNo" id="malePersonNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="femalePersonNo" class="block text-gray-700 text-sm font-bold mb-2">
Total No. of female persons</label
>
                        <p class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic">
                            (How many female learners that accessed different services on career guidance in your agency)
                        </p>
                        <br />
                        <input type="number" formControlName="femalePersonNo" id="femalePersonNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="maleDisabilityNo" class="block text-gray-700 text-sm font-bold mb-2">No. of male learners with disabilities</label
>
                        <p class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic">
                            (How many male persons with disabilities that accessed different services on career guidance in your agency)
                        </p>
                        <br />
                        <input type="number" formControlName="maleDisabilityNo" id="maleDisabilityNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>
                    <div class="mb-4">
                        <label for="femaleDisabilityNo" class="block text-gray-700 text-sm font-bold mb-2">No. of female persons with disabilities</label
>
                        <p class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic">
                            (How many female learners with disabilities that accessed different services on career guidance in your agency)
                        </p>
                        <br />
                        <input type="number" formControlName="femaleDisabilityNo" id="femaleDisabilityNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    </div>

                    <p class="m-2 text-red-500 text-xs italic" *ngIf="cgcpData.invalid"> Please Double check All fields ensure are not empty and correctly filled</p>
                </fieldset>
                <!-- Button outside the sections -->
                <div class="text-center mb-4">
                    <button [disabled]="cgcpData.invalid" (click)="onFormSubmit()" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save
          </button>
                </div>
            </form>
            <!--Congratulatory Message On successful submission-->
            <br />
            <div *ngIf="showMessage" class="congrats-message animate__animated animate__fadeIn">
                Congratulations!
                <p>Thank you for your submission!</p>
            </div>
            <br />
        </div>
    </div>
</div>