<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!-- Background overlay, show/hide based on modal state. Entering: "ease-out duration-300" Leaving: "ease-in duration-200" -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden=""></div>
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span
  >
  <!-- Modal panel, show/hide based on modal state. Entering: "ease-out duration-300" Leaving: "ease-in duration-200" -->
  <div
    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
  >
    <form class="p-6">
      <!-- Section 1: Career Guidance Focal Points Reporting Form - Education -->
      <h2 class="text-xl font-bold mb-4">
        CAREER GUIDANCE FOCAL POINTS REPORTING FORM - EMPLOYMENT AGENCIES
      </h2>
      <p class="text-sm text-gray-700 mb-4">
        The Office of Career Services is the department/unit that coordinates career guidance programmes in employment agencies. The role of the Career Guidance Focal Point (CGFP) in the Office of Career Services (OCS) is to monitor and report on the progress made in regard to the establishment and operationalization of the Office of Career Services. To enable the CGFP of the OCS to report on this progress, the State Department for Labour and Skills Development has automated the reporting form (see below). Please use this form to fill in the quarterly and annual progress reports for your agency.
      </p>
      <hr />
      <!-- First Section -->
      <div class="mb-4">
        <label
          for="input1"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Name of the Employment Agencies Career Guidance Focal Point Person</label
        >
        <input
          type="text"
          id="input1"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input2"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Region within which the Career Guidance Focal Point Person is reporting</label
        >
        <input
          type="text"
          id="input2"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input3"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Career Guidance Focal Point Person Email</label
        >
        <input
          type="text"
          id="input3"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <hr />
      <!-- Section 2: -->
      <h2 class="text-xl font-bold mb-4">EMPLOYMENT AGENCIES</h2>
      <p class="text-sm text-gray-700 mb-4">Both Public and Private</p>
      <hr />
      <div class="overflow-x-auto">
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="px-6 py-3">Agency Type</th>
              <th class="px-6 py-3">Public</th>
              <th class="px-6 py-3">Private</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class="px-6 py-4">
                <input
                  type="radio"
                  class="form-radio text-indigo-600 h-5 w-5"
                />
              </td>
              <td class="px-6 py-4">
                <input
                  type="radio"
                  class="form-radio text-indigo-600 h-5 w-5"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="mb-4">
        <label
          for="input4"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of employment agencies</label
        >
        <input
          type="text"
          id="input4"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input5"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of career guidance trainers</label
        >
        <input
          type="text"
          id="input5"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input6"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of career counsellors</label
        >
        <br />
        <input
          type="text"
          id="input6"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input7"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of career information specialists</label
        >
        <input
          type="text"
          id="input7"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input8"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of career information specialists</label
        >
        <input
          type="text"
          id="input8"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input9"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of Office of Career Services (OCS) established</label
        >
        <input
          type="text"
          id="input9"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input10"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of person that accessed career guidance training</label
        >
        <input
          type="text"
          id="input10"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input11"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of persons that accessed career counselling services</label
        >
        <input
          type="text"
          id="input11"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input12"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of persons that accessed career guidance information</label
        >
        <input
          type="text"
          id="input12"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input13"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of staff trained on career guidance</label
        >
        <input
          type="text"
          id="input13"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input14"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of male persons</label
        >
        <p
          class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
        >
          (How many male learners that accessed different services on career
          guidance across all the agencies)
        </p>
        <br />
        <input
          type="text"
          id="input14"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input15"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Total No. of female persons</label
        >
        <p
          class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
        >
          (How many female learners that accessed different services on career
          guidance across all the agencies)
        </p>
        <br />
        <input
          type="text"
          id="input15"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input16"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of male persons with disabilities</label
        >
        <p
          class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
        >
          (How many male learners with disability accessed different services
          on career guidance across all the agencies)
        </p>
        <br />
        <input
          type="text"
          id="input16"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="input17"
          class="block text-gray-700 text-sm font-bold mb-2"
          >No. of female persons with disabilities</label
        >
        <p
          class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
        >
          (How many male learners with disability accessed different services
          on career guidance across all the agencies)
        </p>
        <br />
        <input
          type="text"
          id="input17"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <!-- Button outside the sections -->
      <div class="text-center mb-4">
        <button (click)="onFormSubmit()"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
</div>