<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!-- Background overlay, show/hide based on modal state. Entering: "ease-out duration-300" Leaving: "ease-in duration-200" -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden=""></div>
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span
    >
    <!-- Modal panel, show/hide based on modal state. Entering: "ease-out duration-300" Leaving: "ease-in duration-200" -->
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <form [formGroup]="cgfpEducation" (ngSubmit)="onFormSubmit()" class="p-6">
        <!-- Section 1: Career Guidance Focal Points Reporting Form - Education -->
        <h2 class="text-xl font-bold mb-4">
          CAREER GUIDANCE EDUCATION INSTITUTIONS REPORTING FORM
        </h2>
        <p class="text-sm text-gray-700 mb-4">
          The Office of Career Services is the department/unit that coordinates career guidance programmes in education and training institutions. The role of the Career Guidance Focal Point (CGFP) in the Office of Career Services (OCS) is to monitor and report on the progress made in regard to the establishment and operationalization of the Office of Career Services. To enable the CGFP of the OCS to report on this progress, the State Department for Labour and Skills Development has automated the reporting form (see below). Please use this form to fill in the quarterly and annual progress reports for your institution.
        </p>
        <hr />
        <!-- First Section -->
        <div class="mb-4">
          <label
            for="institutionName"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Name of the Institution</label
          >
          <input
            type="text"
            id="institutionName"
            name="institution"
            formControlName="institution"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="institutionSubCounty"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Name of Institution sub-county</label
          >
          <input
            type="text"
            id="institutionSubCounty"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
            name="institutionSubCounty"
            formControlName="institutionSubCounty"
          />
        </div>
        <div class="mb-4">
          <label
            for="email"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Institution Contact Person Email</label
          >
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="phone"
            class="block text-gray-700 text-sm font-bold mb-2"
            >The Institution's Contact Person Phone Number</label
          >
          <input
            type="number"
            id="phone"
            name="phone"
            autocomplete="off"
            formControlName="phone"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <hr />
        <!-- Section 2: -->
        <h2 class="text-xl font-bold mb-4">EDUCATION INSTITUTIONS</h2>
        <p class="text-sm text-gray-700 mb-4">Both Public and Private</p>
        <hr />
        <div class="overflow-x-auto">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="px-6 py-3">Institution</th>
                <th class="px-6 py-3">Public</th>
                <th class="px-6 py-3">Private</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let institution of institutions">
                <td class="px-6 py-4">{{ institution.name }}</td>
                <td class="px-6 py-4">
                  <input type="radio" name="otherInstitutions" [value]="institution.id" formControlName="otherInstitutions" class="form-radio text-indigo-600 h-5 w-5" (change)="showInputField(institution.id)" />
                </td>
                <td class="px-6 py-4">
                  <input type="radio" name="otherInstitutions" [value]="institution.id" formControlName="otherInstitutions" class="form-radio text-indigo-600 h-5 w-5" (change)="showInputField(institution.id)" />
                </td>
              </tr>
              <tr *ngIf="selectedInstitutionId === 7">
                <td colspan="3">
                  <input
                    placeholder="Enter Other Institution information"
                    type="text"
                    id="other-institution"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="otherInstitutions"
                  />
                </td>
              </tr>
            </tbody>

          </table>
        </div>
        <br>
        <div class="mb-4">
          <label for="learners" class="block text-gray-700 text-sm font-bold mb-2">Total No. of learners</label>
          <input type="number" id="learners" name="learners" formControlName="learners" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
        </div>
        <div class="mb-4">
          <label
            for="careerEducators"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Total No. of Career Educators</label
          >
          <p
            class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
          >
            (Refers to a teacher/trainer/tutor/lecturer teaching career
            education)
          </p>
          <br />
          <input
            type="number"
            id="careerEducators"
            name="careerEducators"
            formControlName="careerEducators"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="careerCounsellors"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Total No. of career counsellors</label
          >
          <input
            type="number"
            id="careerCounsellors"
            name="careerCounsellors"
            formControlName="careerCounsellors"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="infoSpecialists"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Total No. of career information specialists</label
          >
          <input
            type="number"
            id="infoSpecialists"
            name="infoSpecialists"
            formControlName="infoSpecialists"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label

            class="block text-gray-700 text-sm font-bold mb-2"
            >Office of Career Services (OCS) established</label
          >
          <div class="flex">
            <div class="flex items-center me-4">
                <input id="ocsYes" type="radio" value="ocs" name="ocs" class="w-4 h-4 text-blue-600 bg-gray-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                <label for="ocsYes" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">Yes</label>
            </div>
            <div class="flex items-center me-4">
                <input id="ocsNo" type="radio" formControlName="ocs" value="ocs" name="ocs" class="w-4 h-4 text-blue-600 bg-black-100 border-black-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-black-800 focus:ring-2 dark:bg-black-700 dark:border-black-600">
                <label for="ocsNo" class="ms-2 text-sm font-medium text-black-900 dark:text-black-300">No</label>
            </div>
        </div>
        </div>
        <div class="mb-4">
          <label
            for="learnersAccessEducation"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of learners that accessed career education</label
          >
          <input
            type="number"
            id="learnersAccessEducation"
            name="learnersAccessEducation"
            formControlName="learnersAccessEducation"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="learnersAccess"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of learners that accessed career counselling services</label
          >
          <input
            type="number"
            id="learnersAccess"
            name="learnersCounsellingAccess"
            formControlName="learnersCounsellingAccess"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="learnersInfoAccess"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of learners that accessed career guidance information</label
          >
          <input
            type="number"
            name="learnersInfoAccess"
            id="learnersInfoAccess"
            formControlName="learnersInfoAccess"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="staffTrained"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of staff trained on career guidance</label
          >
          <input
            type="number"
            id="staffTrained"
            name="staffTrained"
            formControlName="staffTrained"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="maleLearners"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Total No. of male learners</label
          >
          <p
            class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
          >
            (How many male learners that accessed different services on career
            guidance across all the institutions)
          </p>
          <br />
          <input
            type="number"
            id="maleLearners"
            formControlName="maleLearners"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="femaleLearners"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Total No. of female learners</label
          >
          <p
            class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
          >
            (How many female learners that accessed different services on career
            guidance across all the institutions)
          </p>
          <br />
          <input
            type="number"
            id="femaleLearners"
            formControlName="femaleLearners"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="maleDisability"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of male learners with disabilities</label
          >
          <p
            class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
          >
            (How many male learners with disability accessed different services
            on career guidance across all the institutions)
          </p>
          <br />
          <input
            type="number"
            id="maleDisability"
            formControlName="maleDisability"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="femaleDisability"
            class="block text-gray-700 text-sm font-bold mb-2"
            >No. of male learners with disabilities</label
          >
          <p
            class="mt-4 p-2 border-2 border-gray-300 rounded-md bg-gray-100 text-gray-700 italic"
          >
            (How many male learners with disability accessed different services
            on career guidance across all the institutions)
          </p>
          <br />
          <input
            type="number"
            id="femaleDisability"
            formControlName="femaleDisability"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <!-- Button outside the sections -->

      </form>
      <p *ngIf="cgfpEducation.invalid" class="m-2 text-red-500 text-m italic">Confirm if Data above is well filled</p>
      <div class="text-center mb-4">
          <button [disabled]="cgfpEducation.invalid" (click)="onFormSubmit()"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Save
          </button>
        </div>
    </div>
  </div>
</div>
