<div class="flex items-center justify-center min-h-screen bg-white-100 pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="container mx-auto p-6 bg-gray rounded-lg shadow-xl inset-0 bg-opacity-75 transition-opacity">
        <div class="container mx-auto p-6 inline-block align-bottom bg-gray-100 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <h2 class="text-xl font-bold mb-4">
                NATIONAL TECH-INDUSTRY DATA FOR YOUNG INNOVATORS VOLUNTEERSHIP PROGRAMME
            </h2>
            <p class="text-sm text-gray-700 mb-4">
                The National Tech-Industry Database (NTID) falls under the State Department for Labour and Skills Development in the Ministry of Labour and Social Protection. The NTID is a data management solution which collects data and information from technology based
                industries to facilitate the development of policies, strategies and programmes on tech-work based learning programmes that target young innovators in Kenya.
            </p>
            <hr />
            <form>
                <!-- First Section -->
                <div class="mb-4">
                    <label for="input1" class="block text-gray-700 text-sm font-bold mb-2">Name of Industry</label>
                    <input type="text" id="input1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required/>
                </div>
                <div class="mb-4">
                    <label for="input2" class="block text-gray-700 text-sm font-bold mb-2">Name of the Managing Director</label>
                    <input type="text" id="input2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required/>
                </div>
                <div class="mb-4">
                    <label for="input3" class="block text-gray-700 text-sm font-bold mb-2">Name of the Contact Person (for Tech-Work Based Learning)</label>
                    <input type="text" id="input3" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                </div>
                <div class="mb-4">
                    <label for="input4" class="block text-gray-700 text-sm font-bold mb-2">Phone number of the Contact Person (for Tech-Work BasedLearning)</label>
                    <input type="text" id="input4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required/>
                </div>

                <br />
                <hr />
                <!-- Section 2: -->
                <h2 class="text-xl font-bold mb-4">CONTACT DETAILS</h2>
                <input type="text" placeholder="Description (Optional)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" optional />

                <br />
                <div class="mb-4">
                    <br />
                    <label for="input5" class="block text-gray-700 text-sm font-bold mb-2">Postal Address</label
          >
          <input
            type="text"
            id="input5"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label for="physical" class="block text-gray-700 text-sm font-bold mb-2"
            >Physical Address</label
          >
          <input
            type="text"
            id="physical"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="telephone"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Telephone Number</label
          >
          <input
            type="number"
            id="telephone"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
            >Email Address</label
          >
          <input
            type="email"
            id="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="website"
            class="block text-gray-700 text-sm font-bold mb-2"
            >website</label
          >
          <input
            type="url"
            id="website"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <br />
        <!-- section 3 -->
        <hr />
        <h2 class="text-xl font-bold mb-4">CORE BUSINESS</h2>
        <input type="text" placeholder="Description (Optional)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        optional/>
        <div class="mb-4">
          <br>
          <label for="input8" class="block text-gray-700 text-sm font-bold mb-2"
            >Main technology-related economic activity of the industry</label
          >
          <input
            type="text"
            id="input8"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label for="input9" class="block text-gray-700 text-sm font-bold mb-2"
            >Other technology-related economic activities of the industry</label
          >
          <input
            type="text"
            id="input9"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <!-- section 4 -->
        <hr />
        <br>
        <h2 class="text-xl font-bold mb-4">WORK BASED LEARNING</h2>
        <input type="text" placeholder="Description (Optional)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        optional/>
        <hr />
        <div class="mb-4">
          <br>
          <label
            for="input10"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Name the specific tech-skills that the industry can provide to
            young innovators</label
          >
          <input
            type="text"
            id="input10"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="input11"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Indicate the number of Master Crafts Persons (MCPs) or industry
            experts that are available to train the young innovators and their
            field of expertise</label
          >
          <input
            type="text"
            id="input11"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="input12"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Indicate the number of the young innovators that can be placed for
            volunteer work based learning in your firm for a period of 3-6
            months
          </label>
                    <input type="text" id="input12" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                </div>
                <div class="mb-4">
                    <label for="input13" class="block text-gray-700 text-sm font-bold mb-2">Specify the tech-skills that the young innovators can acquire in
            your firm</label
          >

          <input
            type="text"
            id="input13"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          />
        </div>
        <!-- Button for submitting -->
        <div class="text-center mb-4">
          <button (click)="onFormSubmit()" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
